RewriteEngine on

# Redirect to index.php for all requests except /assets/*
RewriteCond %{REQUEST_URI} !^/Oussama_el_farihi_Alpha/assets/
RewriteRule ^ index.php [L]

# Allow direct access to assets folder
<IfModule mod_rewrite.c>
    RewriteRule ^Oussama_el_farihi_Alpha/assets/ - [L]
</IfModule>